@mixin theme($primary-color, $rotate: 120deg, $darkenpct: 20%) {
    $other-color: adjust-color($primary-color, $rotate);
    $other2-color: adjust-color($primary-color, 180deg);
    $secondary-color: adjust-color($primary-color, -$rotate);

    .btn-primary {
        @include btn-base($primary-color, 0);
        // background-color: $primary-color;
        // border-color: darken($primary-color, 20%);
        // &:hover {
        //     background: lighten(saturate($primary-color, 20%) 10%);
        // }
    }
    .btn-secondary {
        @include btn-base($secondary-color);

        // background-color: $secondary-color;
        // border-color: darken($secondary-color, 20%);
        // &:hover {
        //     background: lighten(saturate($secondary-color, 20%) 10%);
        // }
    }
    .btn-other {
        @include btn-base($other-color);
        // background-color: $other-color;
        // border-color: darken($other-color, 20%);
        // &:hover {
        //     background: lighten(saturate($other-color, 20%) 10%);
        // }
    }
    .btn-other2 {
        @include btn-base($other2-color);

        // background-color: $other2-color;
        // border-color: darken($other2-color, 20%);
        // &:hover {
        //     background: lighten(saturate($other2-color, 20%) 10%);
        
    }
}

@mixin btn-base ($bg, $darken_pct: 20%) {
    background-color: $bg;
    border-color: darken($bg, 20%);
    &:hover {
        background: lighten(saturate($bg, 20%), 10%)
    }
}